body {
    background-color: pink;
    text-align: center;
}

h1 {
    color: Green;
    border-style: solid;
    border-color: black;
}

h2 {
    color: green;
}

h3 {
    color: green;
}

h4 {
    color: green;
    background-color: yellow;
    font-family: Comic;
}
